# SPDX-License-Identifier: GPL-2.0-or-later

if {![info exists MCHP_RI4_HOST]} { set MCHP_RI4_HOST 127.0.0.1 }
if {![info exists MCHP_RI4_PORT]} { set MCHP_RI4_PORT 9123 }

adapter driver dummy
transport select jtag

mchp_ri4 host $MCHP_RI4_HOST
mchp_ri4 port $MCHP_RI4_PORT
