.git
.gitmodules
.github
build
build-*
artifacts
docker/data/dist
gens
tools/microchip/open_microchip_tools/vendor
tools/microchip/open_microchip_tools/vscode_extension/out
tools/microchip/open_microchip_tools/vscode_extension/*.vsix
tools/ti/c2000_toolchain/.venv
tools/ti/c2000_toolchain/sources
tools/ti/c2000_toolchain/svd
tools/ti/c2000_toolchain/extension/out
tools/ti/c2000_toolchain/extension/node_modules
tools/ti/c2000_toolchain/extension/*.vsix
*.o
*.a
*.so
*.la
*.log
.cache
.DS_Store
