.venv/
__pycache__/
.pytest_cache/
.ruff_cache/
*.pyc
.cache/
.testpacks/
dist/
html/*.html
mmaps/*.mmap
sources/*.PIC
sources/*.pic
sources/*.atdf
metadata/*.json
svd/*.svd
vscode-support/data/*.svd
vscode-support/*.vsix
!sources/README.md
!metadata/README.md
!svd/README.md
!html/README.md
!mmaps/README.md
