# SPDX-License-Identifier: GPL-2.0-or-later

source [find interface/mchp-ri4.cfg]

if {![info exists CHIPNAME]} { set CHIPNAME pic32mz }
if {![info exists RI4_TOOL]} { set RI4_TOOL pk4 }
if {![info exists RI4_PC_BYTES]} { set RI4_PC_BYTES 4 }

if {![info exists RI4_VID] || ![info exists RI4_PID] ||
    ![info exists RI4_PROCESSOR] || ![info exists RI4_SCRIPTS]} {
    error "RI4_VID, RI4_PID, RI4_PROCESSOR, and RI4_SCRIPTS must be set"
}

mchp_ri4 session $RI4_TOOL $RI4_VID $RI4_PID $RI4_PROCESSOR $RI4_SCRIPTS PIC32MZ "" "" $RI4_PC_BYTES
jtag newtap $CHIPNAME cpu -irlen 4
target create $CHIPNAME mchp_ri4_bridge -chain-position $CHIPNAME.cpu
