# SPDX-License-Identifier: GPL-2.0-or-later
# Generic CCS-derived TI TMS320C75x family target.
# Use a device-specific generated/*.cfg file when one exists; this family
# template is for older/custom TMS320 boards missing from the CCS device XML set.

if { ![info exists CHIPNAME] } {
	set CHIPNAME tms320c75x
}

source [find target/ti/tms320-generic-scan.cfg]

set _TARGETNAME ${CHIPNAME}.dsp
target create $_TARGETNAME tms320 -chain-position $TMS320_GENERIC_TAP_NAME
targets $_TARGETNAME
tms320 family c75x
tms320 device TMS320C75x
tms320 core C75x_DSP
tms320 procid 0x5001D7F8

targets $_TARGETNAME
