# SPDX-License-Identifier: GPL-2.0-or-later
# Native OpenOCD target/flash access over PICkit 4 RI4 USB.

set MCHP_RI4_TOOL pk4
if {![info exists MCHP_RI4_VID]} { set MCHP_RI4_VID 0x04d8 }
if {![info exists MCHP_RI4_PID]} { set MCHP_RI4_PID 0x9012 }

source [find target/mchp-ri4.cfg]
