# SPDX-License-Identifier: GPL-2.0-or-later
# Microchip PICkit 3 programming through MPLAB IPECMD by default.
# Select the legacy scripting firmware backend with:
#   -c "microchip backend pk2cmd"
noinit
source [find programmer/microchip/common.tcl]
microchip programmer pickit3
