# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2025 Texas Instruments Incorporated - https://www.ti.com/
#

source [find interface/cmsis-dap.cfg]
adapter speed 1000
transport select swd
source [find target/ti/cc35x1e.cfg]
